

.circle-image-200 {
  background: #000;
  border-radius: 50%;
  border: solid 3px black;
  margin: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.circle-image-120 {
  background: #000;
  border-radius: 50%;
  border: solid 3px black;
  width: 120px;
  height: 120px;
  margin: auto;
  overflow: hidden;
}

.circle-image-200 p, .circle-image-120 p {
  margin-block-start: 0;
}

.person {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}



.color-primary {
  color: #003469;
}

.color-secondary {
  color: #2babe2;
}

.bg-color-primary {
  background-color: #003469;
}

.bg-color-secondary {
  background-color: #2babe2;
}

.border-color-primary {
  border-color: #003469;
}

.border-color-secondary {
  border-color: #2babe2;
}

.border-color-black {
  border-color: black;
}

.bg-color-primary a {
  background-color: #003469;
  color: white;
}

.bg-color-white {
  background-color: white;
}
